body
{
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #E3E3DB;
    margin: 0;
    padding: 0;
    background-image: url("../Images/background.png");
}

a
{
    color: #FC6204;
}

.white-space
{
    display: block;
    height: 60px;
}

.page-container
{
    display: block;
    width: 57%;
    margin-left: 212px;
}

input
{
    width: 220px;
    height: 30px;
    display: inline-block;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}

input[type="submit"],
input[type="button"]
{
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    margin-left: .3em;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #0074cc;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 130px;
}

input[type="submit"]:hover,
input[type="button"]:hover
{
    background-color: #0055cc;
}

a.new-button
{
    margin: 0 0 5px 10px;
    display: block;
    float: right;
    height: 25px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

a.new-button b
{
    float: left;
    padding: 5px 17px 4px 20px;
    font-size: 11px;
    height: 17px;
    margin-right: 3px;
    background: transparent url("../Images/button_palette.png") no-repeat -3px 0;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline;
}

a.new-button i
{
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 25px;
    background: transparent url("../Images/button_palette.png") no-repeat 0 0;
}

a.new-button.red-button b
{
    background-position:-3px -100px;
    color:#fff!important
}

a.new-button.red-button i
{
    background-position:0 -100px
}

a.new-button.red-button:hover b
{
    background-position:-3px -125px
}

a.new-button.green-button b
{
    background-position:-3px -150px;
    color:#fff!important
}

a.new-button.green-button i
{
    background-position:0 -150px
}

a.new-button.green-button:hover b
{
    background-position:-3px -175px
}

a.new-button.dark-button b
{
    background-position:-3px -50px;
    color:#fff!important
}

a.new-button.dark-button i
{
    background-position:0 -50px
}

a.new-button.dark-button:hover b
{
    background-position:-3px -75px
}
