/*
    Document  : Header
    Author    : Cobe Makarov
    Date      : May 14th, 2012
    Purpose   : All the elements having to do with the header.
*/

.header-container
{
    background-color: #BCE0EE;
    background-repeat: repeat-x;
    background-image: url("../Images/divider.gif");
    background-position: 0 100%;
    min-width: 930px;
    margin: 0;
    z-index: 10;
    height: 104px;
}

.header-container > .header
{
    position: relative;
    background: url("../Images/subnavibg.png") no-repeat 190px 0;
    margin: 0 auto;
    text-align: left;
    width: 930px;
    z-index: 8999;
}

.header-container > .header > h1
{
    float: left;
    margin-top: 16px;
    margin-bottom: 18px;
    z-index: 2;
}

.header-container > .header > h1 > a
{
    text-indent: -10000px;
    float: left;
    width: 111px;
    height: 42px;
    border: 0;
    background-repeat: no-repeat;
    background-image: url("../Images/habbo.png");
}

.header-container > .header > .divider
{
    display: block;
    background-image: url("../Images/divider.png");
    height: 2px;
    width: 10px;
    padding: 10px;
}

.header-container > .header > .habbos-online
{
    position: absolute;
    width: 110px;
    left: 781px;
    top: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 8px;
    line-height: 25px;
}

.top-navigation
{
    position: absolute;
    left: 477px;
    top: 0;
    width: 285px;
    height: 28px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.top-navigation > .content
{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.enter-hotel
{
    position: absolute;
    top: 33px;
    left: 627px;
}

.enter-hotel > a
{
    margin: 0;
}

.sub-navigation
{
    position: absolute;
    width: 70%;
    top: 75px;
}

.sub-navigation > .navigation-link
{
    float: left;
    height: 22px;
    padding: 6px 16px 0 22px;
    background-repeat: no-repeat;
    background-image: url("../Images/tab_palette.png");
    background-position: -10px -28px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    max-width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-left: 5px;
}

.sub-navigation > .navigation-link:hover
{
    background-position:-10px -56px
}

.sub-navigation > i
{
    float: left;
    height: 28px;
    width: 6px;
    background-repeat: no-repeat;
    background-image: url("../Images/tab_palette.png");
    background-position: -4px -28px;
}

.sub-navigation > i:hover
{
    background-position:-4px -56px;
}

.low-navigation-container
{
    background-image: url("../Images/lower-navigator-background.png");
    background-repeat: no-repeat;
    background-position: 1px 100%;
    padding-bottom: 9px;
    position: absolute;
    width: 70%;
    top: 105px;
    left: 212px;
}

.low-navigation-container > .low-navigation
{
    line-height: 18px;
    width: 100%;
    background-image: url("../Images/lower-navigator-border.png");
    background-repeat: repeat-y;
    background-position: 1px 0;
    font-size: 12px;
    height: 12px;
    padding: 6px 10px 6px 10px;
}

.low-navigation-container > .low-navigation > a
{
    float: left;
    padding-right: 1.3em;
    margin-right: 1.3em;
    border-right: 1px solid #E8E8E8;
    color: #134787;
    text-decoration: none;
}

.low-navigation-container > .low-navigation > a:hover
{
    text-decoration: underline;
}