/*
    Document  : Index
    Author    : Cobe Makarov
    Date      : May 14th, 2012
    Purpose   : All the elements having to do with the index page.
*/

body
{
    margin: 3px;
    font-family: "Verdana";
    font-size: 11px;
    background-color: #000000;
}

.white-space
{
    display: block;
    height: 100px;
}

.header
{
    display: block;
    margin: auto;
    height: 20%;
    width: 60%;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
}

.header > .right-container
{
    float: right;
}

.header > .right-container > .content
{
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.header > .right-container > .content > a
{
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.page-container
{
    display: block;
    margin: auto;
    width: 50%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.page-container > .center-container
{
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px dashed #3D3D3D;
    border-top: 1px dashed #3D3D3D;
}

.page-container > .center-container > input
{
    width: 370px;
    padding: 4px;
    border: 1px solid #633;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans;
}

.page-container > .center-container > h1
{
    font-size: 20px;
    font-weight: bold;
    margin: 18px 0;
}

.label
{
    padding-bottom: 6px;
    color: #22B9F1;
    font-weight: bold;
    display: block;
    font-size: 11px;
}

.hint
{
    color: #8B8B8B;
    font-size: 10px;
    margin-bottom: 18px;
    width: 370px;
}

.page-container > .center-container > .delimiter_smooth
{
    border: 0;
    padding-bottom: 8px;
}

.page-container > .center-container > .delimiter_smooth > .flat
{
    background: black url("../Images/arrow_down_line.png") repeat-x 0 0;
    width: 211px;
    float: left;
    height: 1px;
}

.page-container > .center-container > .delimiter_smooth > .arrow
{
    width: 28px;
    height: 9px;
    background: black url("../Images/smooth_arrow_down.png") no-repeat 0 0;
    float: left;
}

.page-container > .characters-container
{
    margin:auto;
}

.page-container > .characters-container > .form
{
    float: left;
    display: inline-block;
    background: url("../Images/avatar_select.png");
    width: 342px;
    height: auto;
}

.page-container > .characters-container > .form > .title
{
    display: block;
    height: 90px;
    padding: 10px;
}

.page-container > .characters-container > .form > .avatar
{
    position: absolute;
    top: 46px;
    left: 9px;
    width: 94px;
    height: 137px;
    text-align: center;
    background: url("../Images/avatar_plate.png") bottom center no-repeat;
}

.page-container > .characters-container > .form > .avatar:hover
{
    background: url("../Images/avatar_plate.png") 0px 74px no-repeat;
}

.page-container > .characters-container > .image
{
    float: right;
}

input
{
    width: 370px;
    padding: 4px;
    border: 1px solid #633;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans;
}

input[type="submit"],
input[type="button"]
{
    background: url("../Images/form-button.png") #CCCCCC repeat-x;
    padding: 6px 25px 6px 25px;
    border: 2px solid #000000;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    height: auto;
    width: auto;
    float: right;
}

input[type="submit"]:hover,
input[type="button"]:hover
{
    background: url("../Images/form-button-hover.png") #EAEAEA repeat-x;
}

.pointable
{
    cursor: pointer;
}

ul.characters
{
    padding: 0;
}

ul.characters > li.character-container
{
    float: left;
    width: 114px;
    height: 115px;
    line-height: 115px;
    margin: 0 14px 14px 0;
    border: 4px solid #282828;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
    list-style: none;
}

ul.characters > li.character-container:hover
{
    border-color: white;
}

li.character-container > .top
{
    top: 4px;
    height: 54px;
    background-color: #242424;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li.character-container > span
{
    position: absolute;
    z-index: 1;
    left: 4px;
    width: 106px;
}
li.character-container > .bottom
{
    top: 58px;
    height: 53px;
    background-color: #1A1A1A;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

li.character-container > img
{
    z-index: 10;
    position: relative;
}

.facebook-connect
{
    width: 194px;
    height: 25px;
    background-image: url("../Images/facebook-login.png");
    cursor: pointer;
}